ion-footer {
  position: fixed; /* Fija el footer en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  background-color: #f4f4f4; /* Fondo gris claro */
  border-top: 1px solid #d1d1d1; /* Borde para separación */
  color: #333333; /* Texto gris oscuro */
  text-align: center;
  padding: 10px 0;
}
