<ion-header>
  <ion-toolbar color="primary">
    <div class="header-content">
      <!-- Logo -->
      <img src="assets/logo.png" alt="Logo" class="logo" />

      <!-- Botones -->
      <div class="header-buttons">
        <ion-button fill="clear" color="light">Proceso</ion-button>
        <ion-button fill="clear" color="light" routerLink="/table-student">Estados</ion-button>
        <ion-button fill="clear" color="light">Cerrar Sesión</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
